body,table, div
{
	font-family: Arial, Verdana;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

td
{
	padding: 5px 5px 5px 5px;
}

.even
{
	background-color: #FFFFCC;
}

.formDiv
{
	border: 1px solid #CCCCCC;
}

.logo
{
	height:80px;
	width:300px;
	background-image: url(../../images/logo.gif);
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.banner
{
	height:80px;
	width:100%;
	background-image: url(../../images/banner.gif);
	background-repeat: repeat-x;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: right;

}

.ajaxRemoteContainer
{
	border: 1px solid #DDDDDD;
	background: #EEEEEE;
	padding: 30 0 0 0;
	background-image: url(../../images/tblheader.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.normalContainer
{
	border: 1px solid #DDDDDD;
	background: #EEEEEE;
	padding: 30 0 0 0;
	background-image: url(../../images/tblheader.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.iconLink
{
	cursor: crosshair;
}

.img_link, img_link a:visited a:hover a:link
{
	border: none;
}

.loading
{
	background-image: url(../../images/factorpro/load.gif);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;	
	width: 32px;
	height: 32px;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    visibility : hidden;
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
.common {
    width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

