.product-media {
    width: 80px;
    height: 80px;
    margin: 0px 1px 1px 1px;
    float:left;

}

td.static-width{
     width: 100px;
  
}


th.checkbox,
td.checkbox
{
    width: 10px;
    display: inline-block;
   
}

.actions{
    padding: 0px;
    margin: 0px;
    text-align:right;
    opacity:0.0;

}

.action-icon{
    color: #363636;
    margin-left: 5px;
    margin-right: 5px;
 
}
      
      