.product-media {
    width: 80px;
    height: 80px;
    margin: 0px 20px 10px 0px;
    vertical-align: middle;
}
th.checkbox,
td.checkbox
{
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    margin: 0 20px 0 -5px;
}

.actions{
    padding: 0px;
    margin: 0px;
    vertical-align:middle;
    text-align:right;
    opacity:0.0;

}

.action-icon{
    color: #363636;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

}
      
      