	body,table,div {
	font-family: Arial, Verdana;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
body
{	
	
	scrollbar-arrow-color: #3399FF;
	scrollbar-face-color: #EEEEEE;
	scrollbar-highlight-color: #EEEEEE;
	scrollbar-shadow-color: #EEEEEE;
	scrollbar-track-color: #EEEEEE;
}
a {
	text-decoration: none;
}

IMG,IMG a,IMG a:hover {
	text-decoration: underline;
	border: none;
}
h1
{
	color:#003399;

}

.header {
	font-family: Impact, Arial, Verdana;
	font-size: medium;
	vertical-align: bottom;
	color:041c43;
}


#envMain
{
	position: absolute;
	top:20px;
	left:500px;	
	font-size:9pt;
	font-weight: bold;
	color: #4176AB;
	text-align:right;
}

#contentBox {
	width: 90%;
	height: 80%;
	border: 1px solid #CCCCCC;
}

#bannerBox {
	width: 90%;
	height: 87px;
}

#content {
	vertical-align: top;
	padding: 10 10 10 10;
}

#logo {
	width: 400px;
}

#menuLink {
	height: 20px;
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.formBox {
	border: 1px solid black;
}

.formBox thead {
	height: 20px;
	font-size: 14px;
	background-color: black;
	padding: 0 0 0 20;
	color: white;
	text-align: left;
	background-image: url(../../images/ace/thead_bg_20.jpg);
}

.formBox tbody {
	
}

.formBox td {
	padding: 5 5 5 5;
}

.grayArea {
	background-color: #EEEEEE;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}

.whiteAreaTop {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.whiteAreaBottom {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

.errorMsg {
	font-weight: bold;
	color: red;
}

.infoMsg {
	font-weight: bold;
	color: blue;
}

.button {
	width: 71;
	height: 21px;
	color: white;
	font-size: 11px;
	background-color: BLACK;
	background-image: url(../../images/ace/button_bg.jpg);
	background-repeat: no-repeat;
	border: none;
}

#loginContent {
	background-color: #EEEEEE;
	padding: 0 0 0 30;
}

#loginBox {
	margin: 0 0 0 30px;
}

#loginBox td {
	padding: 5 0 5 0;
}

.loginHeader {
	font-weight: bold;
	font-size: 30px;
}

.loginlabel {
	font-weight: bold;
}

.loginInfo {
	font-weight: bold;
	color: #CCCCCC;
}

.loginButton {
	width: 71;
	height: 21px;
	color: white;
	font-size: 11px;
	background-color: BLACK;
	background-image: url(../../images/ace/button_bg.jpg);
	background-repeat: no-repeat;
	border: none;
}

.whiteArea2 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}

.greyArea2Top {
	background-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.greyArea2Bottom {
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

/* loginpage */
#login
{	
	background-color:#0B67C3;
	background-image: url(../../images/factorpro/login/background.jpg);
	background-repeat: no-repeat;
	
}
#logintable
{
	position: absolute;
	top:180px;
	left:520px;	
}
#header
{
	padding:0px 0px 0px 0px;
	font-weight: bold;
	font-size:8;
	text-align: right;
}
.input1
{
	color:#FFFFFF;
	padding: 30px 10px 0px 40px;

}
.input2
{
	color:#FFFFFF;
	padding: 10px 10px 40px 40px;
}
#form
{
	padding:10px 0px 10px 0px;	
	background: no-repeat;
	background-position:right;
	background-image:url(../../images/factorpro/login/bx.jpg);
	
}
#msg1
{
	padding:30px 0px 0px 40px;
	font-family:  Arial;
	color:#FFFFFF;
	
}
#button
{
	padding: 10px 30px 40px 0px;
}
#logincr
{
	font-size: 8px;
}


/* index */
#index
{
	/*background-image: url(../../images/factorpro/index/wnb.jpg);*/
	background-repeat: repeat-x;
}

#indtable
{
	/*background-image: url(../../images/factorpro/index/indexbg.jpg);*/
	width: 1002px;
	height: 606px;
}

#homeIcon
{	
	position:absolute;
	top: 375px;
	margin-left:5px;
	width:20px;
}

#moduletable
{	
	position:relative;
	top: 20px;
	margin-left:35px;
	width:950px;
}

#indexcr
{
	position: absolute;
	top: 580px;
	left: 860px;
	font-size: 8px;
}
#icon
{
	position: absolute;
	top:20px;
	left:965px;	
}
#layer2
{
	position:absolute;
	top:0px;
	left:0px;
	width: 1002px;
	height: 606px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	
}
#sublink,#sublink5,#sublink6,#sublink7,#sublink8,#sublink9
{
	position:absolute;
	top:100px;
	left:180px;
}

#sublink2,#sublink3,#sublink4
{
	position:absolute;
	top:50px;
	left:40px;
}
#subBox
{
	width:680px;
	height:400px;
	background-image: url(../../images/factorpro/index/subBox1.gif);
}
#subBox2
{	
	width:950px;
	height:480px;
	background-image: url(../../images/factorpro/index/subBox2.gif);
	
}
.sublinkTable
{	
	font-size:11px;
	color: white;
	padding: 0 0 0 20;
	width: 650px;
	height:360px;
}
.sublinkTable2
{	
	font-size:11px;
	color: white;
	padding: 0 0 0 20;
	width:918px;
	height:450px; 
}
.innerSublinkTable
{	
	font-size:11px;
	color: white;
	height:100%;
}
.subHeader
{
	font-size: 18px;
	font-weight: bold;
	vertical-align: bottom;
}
.li
{
	font-size: 10px;
	padding: 0 0 0 0;
	line-height: 1.5em;
	list-style: circle;
	list-style-position: inside;
}
.li2
{
	font-size: 11px;
	padding: 0 0 0 0;
	line-height: 1.1em;
	list-style: circle;
	list-style-position: inside;	
}
.innerli
{
	font-size: 10px;
	padding: 0 0 0 10;
	line-height: 1.4em;
	list-style: square;
	list-style-position: inside;	
}
.data
{
	text-align: left;
	vertical-align: top;
}
.linkHeader
{
	font-size: 12px;
	font-weight: bold;
	color: yellow;
}
#paddingEdi
{
	padding:10 0 230 5;
}
#paddingPro
{
	padding:5 0 180 5;
}
#paddingEop
{
	padding:5 0 250 0;
}
.close
{
	text-align: right;
	vertical-align: top;
}
a:link {
	text-decoration:none;
	/*color: white;*/
}
a:visited {
	text-decoration:none;
	/*color: white;*/
}
a:hover {
	text-decoration:none;
	color: red;
}
a:active {
	text-decoration:none;
	/*color: white;*/
}

.loading
{
	background-image: url(../../images/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;	
	width: 32px;
	height: 32px;
}


